/* .overlay {
    border: 1px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
} */

.main-container {
    margin: 1em 1em 1em 2em;
    grid-auto-rows: 5em;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

.left-container {
    display: flex;
}

.center-container {
    display: flex;
}

.right-container {
    display: flex;
}

.buttons {
    margin-top: 30px;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
    outline: 0;
}

#btn0,
#btn1,
#btn2,
#btn3 {
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

.ui.container {
    margin-right: 0 !important;
    width: 915px !important;
}